@font-face {
  font-weight: 700;
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/montserratbold.woff2"), url("../fonts/montserratbold.woff"); }

@font-face {
  font-weight: 400;
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensansregular.woff2") format("woff2"), url("../fonts/opensansregular.woff") format("woff"); }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  appearance: none; }

[type="search"]::-webkit-search-decoration {
  appearance: none; }

template {
  display: none; }

[hidden] {
  display: none !important; }

:root {
  --color-base: #fff;
  --color-bg: #000;
  --color-primary: #3382fa;
  --color-hover: #055adb;
  --color-active: #7eb0fc; }

body {
  font: 12px -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, "Open Sans", arial, sans-serif;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.08em;
  min-width: 320px;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content; }
  @media (min-width: 767px) {
    body {
      min-width: 767px; } }
  @media (min-width: 768px) {
    body {
      min-width: 768px; } }
  @media (min-width: 992px) {
    body {
      min-width: 992px; } }
  @media (min-width: 1440px) {
    body {
      min-width: 1440px; } }

a {
  background-color: transparent;
  text-decoration: none;
  color: #fff; }
  a[href]:hover, a[href]:focus {
    color: #055adb;
    text-decoration: none; }
  a[href]:active {
    color: #7eb0fc; }

.header {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  min-width: 320px; }
  @media (min-width: 992px) {
    .header {
      max-width: 1440px; } }

.header__phone-wrapper {
  padding-left: 40px;
  background-image: url("../img/icon-phone-big.png");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 25px 0; }

.header__site-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  font-family: Montserrat, arial, sans-serif;
  color: #3382fa;
  letter-spacing: .08em;
  transform: rotate(0.1deg); }

.main-nav {
  padding-bottom: 12px;
  position: relative;
  width: 42%;
  order: 2;
  display: flex;
  flex-direction: row-reverse; }

.main-nav__social {
  position: absolute;
  top: 97px;
  left: calc(50% - 69px); }

.main-nav__list {
  list-style-type: none;
  margin: 0;
  position: absolute;
  background-color: #000;
  padding: 30px;
  top: 35px;
  width: 110px;
  color: #fff;
  padding-top: 1px;
  left: calc(50% - 79px);
  padding-left: 10px;
  font-family: Oswald, arial, sans-serif; }
  @media (min-width: 768px) {
    .main-nav__list {
      display: flex;
      margin-left: 93px; } }

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  top: 19px;
  left: 206px;
  z-index: 4; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }
  @media (max-width: 767px) {
    .main-nav__toggle::after {
      width: 20px;
      height: 1.5px;
      background-color: #3382fa;
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      box-shadow: none;
      transform: rotate(45deg); } }
  @media (max-width: 767px) {
    .main-nav__toggle::before {
      width: 20px;
      height: 1.5px;
      background-color: #3382fa;
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      transform: rotate(-45deg); } }

.main-nav--cloced .main-nav__list {
  display: none; }

@media (max-width: 767px) {
  .main-nav--cloced .main-nav__toggle::after {
    width: 19px;
    height: 3px;
    background-color: #3382fa;
    content: "";
    position: absolute;
    top: 16px;
    right: 3px;
    box-shadow: 0 5px 0 0 #3382fa, 0 10px 0 0 #3382fa;
    transform: rotate(180deg);
    border-radius: 3px; }
  .main-nav--cloced .main-nav__toggle::before {
    display: none; } }

.main-nav--cloced .main-nav__social {
  display: none; }

.about {
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  padding-top: 230px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: center;
  background-image: linear-gradient(transparent 180px, #000 180px), url("../img/try.jpg");
  background-repeat: no-repeat;
  background-size: cover, contain; }

.about__wrapper {
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto; }

.about__title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  max-width: 230px; }
  .about__title::before {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 148px;
    height: 148px;
    content: "";
    background-image: url("../img/main-geometric-group-small.png"); }
    @media (min-resolution: 2dppx) {
      .about__title::before {
        background-image: url("../img/main-geometric-group-small@2x.png");
        background-size: 148px auto; } }

.about__description {
  margin-bottom: 22px; }

.button {
  padding: 2px 18px;
  font-family: Oswald, arial, sans-serif;
  border-radius: 40px;
  color: #fff;
  background-color: #3382fa;
  font-size: 11px;
  letter-spacing: 1.2px; }
  .button--form-submit {
    margin-left: auto;
    margin-right: auto;
    padding: 3px 22px; }

.advantages {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-top: 20px;
  background: url("../img/geometric-background-small.png") no-repeat 50% -2px; }
  @media (min-width: 992px) {
    .advantages {
      max-width: 1440px; } }
  @media (min-resolution: 2dppx) {
    .advantages {
      background-image: url("../img/geometric-background-small@2x.png");
      background-size: contain; } }

.advantages__wrapper {
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto; }

.advantages__title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;
  margin-bottom: 10px;
  text-align: center; }

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10px;
  text-align: center; }

.advantages__item {
  margin-bottom: 8px;
  padding-top: 40px;
  width: 32%;
  position: relative;
  line-height: 1;
  letter-spacing: .1px;
  background-repeat: no-repeat; }
  .advantages__item::before {
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 51px;
    height: 53px;
    transform: translateX(-50%);
    background: url("../img/polygon.svg") no-repeat 50%;
    content: "";
    z-index: -1; }
  .advantages__item--arrow {
    background-image: url("../img/icon-arrow-big.png");
    background-size: 23px 15px;
    background-position: 50% 10px; }
  .advantages__item--production {
    background-image: url("../img/icon-manufacturing-big.png");
    background-size: 19px 20px;
    background-position: 50% 7px; }
  .advantages__item--solutions {
    background-image: url("../img/icon-solution-big.png");
    background-size: 22px 22px;
    background-position: 50% 6px; }
  .advantages__item--projects {
    background-image: url("../img/icon-number-big.png");
    background-size: 29px 11px;
    background-position: 50% 10px; }
  .advantages__item--engineering {
    background-image: url("../img/icon-gear-big.png");
    background-size: 21px 22px;
    background-position: 50% 10px; }

.results {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(transparent 77px, #000 77px), url("../img/tryforhoneycomb.png");
  background-repeat: no-repeat;
  font-size: 10px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 10px;
  background-size: cover, contain; }
  @media (min-width: 992px) {
    .results {
      max-width: 1440px; } }

.results__wrapper {
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto; }

.results__title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px; }

.results__text {
  margin-bottom: 33px; }

.results__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px; }

.results__gallery-image {
  padding-bottom: 10px; }

.services {
  background-image: url("../img/trypuzzle.jpg");
  background-repeat: no-repeat;
  background-position: 0 600px;
  margin-top: 10px;
  margin-bottom: 19px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  box-sizing: border-box;
  background-size: 100% 449px; }
  @media (min-resolution: 2dppx) {
    .services {
      background-image: url("../img/trypuzzle@2x.jpg"); } }

.services__wrapper {
  text-align: center;
  margin-bottom: 18px;
  background-image: url(../img/trybackground.png);
  padding-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: cover, contain; }

.services__wrapper-rubber {
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto; }

.services__description {
  font-size: 11px; }

.services__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 19px;
  margin: 0;
  grid-template-columns: repeat(3, 93px);
  padding-left: 5px;
  font-size: 10px;
  padding-right: 5px; }

.services__item {
  padding-top: 33px;
  position: relative;
  background-repeat: no-repeat; }
  .services__item--decision {
    background-image: url("../img/icon-lamp-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px; }
  .services__item--design {
    background-image: url("../img/icon-design-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px; }
  .services__item--production {
    background-image: url("../img/icon-production-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px; }
  .services__item--supply {
    background-image: url("../img/icon-lorry-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px; }
  .services__item--installation {
    background-image: url("../img/icon-assembling-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px; }
  .services__item--commissioning {
    background-image: url("../img/icon-commissioning-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px; }

.services__guarantee {
  background-image: url("../img/geometric-group-small.png");
  background-position: 50% 48px;
  background-repeat: no-repeat;
  text-align: center; }
  @media (min-resolution: 2dppx) {
    .services__guarantee {
      background-image: url("../img/geometric-group-small@2x.png");
      background-size: 277px 262px; } }

.services__guarantee-wrapper {
  min-width: 300px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  text-align: left; }

.services__guarantee-title {
  min-width: 300px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.services__guarantee-text {
  padding-bottom: 256px; }

.services__guarantee-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 82px; }

.services__guarantee-list-item {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px; }

.services__guarantee-list-item:not(:last-child) {
  padding-bottom: 133px; }

.contacts {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px; }

.contacts__title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;
  text-align: center;
  width: 246px;
  margin-left: auto;
  margin-right: auto; }

.contacts__summary {
  margin-bottom: 17px;
  background-image: url(../img/geometric-background-small-additional.png);
  background-position: 0 0;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px; }
  @media (min-resolution: 2dppx) {
    .contacts__summary {
      background-image: url("../img/geometric-background-small-additional@2x.png");
      background-repeat: no-repeat;
      background-size: cover; } }

.contacts__text-wrapper {
  margin: 0 auto;
  max-width: 380px; }

.contacts__text--indent {
  padding-bottom: 88px;
  position: relative; }
  .contacts__text--indent::after {
    content: "";
    width: 80%;
    height: 4px;
    background-color: #63a1ff;
    position: absolute;
    display: block;
    border-radius: 4px;
    left: 30px;
    top: 85px; }

.contacts__text--last {
  padding-left: 10px;
  margin: 0 auto;
  max-width: 370px; }

.contacts__form-wrapper {
  padding-right: 10px;
  padding-left: 10px;
  background-image: url("../img/mix-image-small.png");
  background-repeat: no-repeat;
  background-size: cover, contain; }
  @media (min-resolution: 2dppx) {
    .contacts__form-wrapper {
      background-image: url("../img/mix-image-small@2x.png"); } }

.form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #dbdbdb;
  padding-bottom: 20px; }

.form__input {
  width: 130px;
  box-sizing: border-box; }

.form__textarea {
  width: 100%;
  box-sizing: border-box; }

.form__field {
  display: flex;
  flex-direction: column; }

.form__field-textarea {
  width: 100%; }

.form__footnote {
  font-size: 10px;
  color: #b0b0b0;
  padding-bottom: 13px; }

.footer {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 360px;
  display: flex; }
  @media (min-width: 992px) {
    .footer {
      max-width: 1440px; } }

.footer__logo {
  margin-right: 20px; }

.footer-navigation {
  display: none; }

.footer__our-contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%; }

.footer__our-contacts {
  font-size: 7px; }
  .footer__our-contacts--offline {
    font-size: 8px;
    padding-left: 20px; }

.footer__our-contacts-phone {
  padding-left: 30px; }
