@import "common/mixin.scss";
@import "common/fonts.scss";
@import "common/normalize.scss";
@import "common/vars.scss";
@import "common/base.scss";
@import "block/header.scss";
@import "block/main-nav.scss";
@import "block/about.scss";
@import "block/button.scss";
@import "block/advantages.scss";
@import "block/results.scss";
@import "block/services.scss";
@import "block/contacts.scss";
@import "block/form.scss";
@import "block/footer.scss";
