{% set page = 'Index' %}
{% extends "layout.j2" %}

{% set result_gallery = [{
  src: './images/gallery-1-small@2x.jpg',
  alt: 'Изображение готового проекта по освещению ступенек',
  srcset768: './images/gallery-1-medium.jpg',
  srcset768@2x: './images/gallery-1-medium@2x.jpg'
}, {
  src: './images/gallery-2-small@2x.jpg',
  alt: 'Изображение готового проекта по треугольному освещению потолка в торговом центре',
  srcset768: './images/gallery-2-medium.jpg',
  srcset768@2x: './images/gallery-2-medium@2x.jpg'
}, {
  src: './images/gallery-3-small@2x.jpg',
  alt: 'Изображение готового проекта по освещению ламп, похожих на ветки на потолке в торговом центре',
  srcset768: './images/gallery-3-medium.jpg',
  srcset768@2x: './images/gallery-3-medium@2x.jpg'
}, {
  src: './images/gallery-4-small@2x.jpg',
  alt: 'Изображение готового проекта по освещению автосалона лампами, выполненными в геометрической сетке',
  srcset768: './images/gallery-4-medium.jpg',
  srcset768@2x: './images/gallery-4-medium@2x.jpg'
}, {
  src: './images/gallery-5-small@2x.jpg',
  alt: 'Изображение готового проекта по освещению потолка торгового центра, выполненными в волнообразной форме лампами',
  srcset768: './images/gallery-5-medium.jpg',
  srcset768@2x: './images/gallery-5-medium@2x.jpg'
}, {
  src: './images/gallery-6-small@2x.jpg',
  alt: 'Изображение готового проекта по освещению эскалаторной зоны торгового центра',
  srcset768: './images/gallery-6-medium.jpg',
  srcset768@2x: './images/gallery-6-medium@2x.jpg'
}] %}

{% block content %}
  <div class="about">
    <div class="about__wrapper">
      <h1 class="about__title">Авторское светодиодное решение от LEDWIT</h1>
      <p class="about__description">Российский производитель светодиодных светильников и световых конструкций среднего, крупного и особо крупного размера</p>
      <a class="button button--introduction" href="#">Оставить заявку</a>
    </div>
  </div>

  <section class="advantages">
    <div class="advantages__wrapper">
      <h2 class="advantages__title">Технологии на службе стиля</h2>
      <ul class="advantages__list">
        <li class="advantages__item advantages__item--arrow">15 лет<br>успешной работы</li>
        <li class="advantages__item advantages__item--production">Собственное производство</li>
        <li class="advantages__item advantages__item--solutions">Лучшие решения поставленных задач</li>
        <li class="advantages__item advantages__item--projects">Более тысячи воплощенных проектов</li>
        <li class="advantages__item advantages__item--engineering">Собственный инженерный центр</li>
      </ul>
    </div>
  </section>

  <section class="results">
    <div class="results__wrapper">
      <div class="results__description">
        <h2 class="results__title">Наши работы</h2>
        <p class="results__text">За 15 лет работы у нас накопилось много выполненных проектов, которыми мы гордимся</p>
      </div>
      <div class="results__gallery">
        {% for image in result_gallery %}
          <picture>
            <source media="(min-width: 768px)" srcset="{{ image.srcset768 }} 1x, {{ image.srcset768@2x }} 2x">
            <img class="results__gallery-image" src="{{ image.src }}" alt="{{ image.alt }}">
          </picture>
        {% endfor %}
      </div>
      <a class="button button--gallery" href="#">Больше работ</a>
    </div>
  </section>

  <section class="services">
    <div class="services__wrapper">
      <div class="services__wrapper-rubber">
        <h2 class="services__title">Почему именно мы?</h2>
        <p class="services__description">Команда высококвалифицированных специалистов «LEDWIT» участвует в реализации технически сложных проектов освещения «под ключ»</p>
        <ul class="services__list">
          <li class="services__item services__item--decision">Решение</li>
          <li class="services__item services__item--design">Проектирование</li>
          <li class="services__item services__item--production">Производство</li>
          <li class="services__item services__item--supply">Поставка</li>
          <li class="services__item services__item--installation">Монтаж</li>
          <li class="services__item services__item--commissioning">Пуско-наладка</li>
        </ul>
      </div>
    </div>

    <div class="services__guarantee">
      <div class="services__guarantee-wrapper">
        <h3 class="services__guarantee-title">Гарантируем 5 лет стабильной работы</h3>
        <p class="services__guarantee-text services__guarantee-text--first">Потребителями продукции LEDWIT являются не только коммерческие предприятия, но и частные лица.</p>
        <p class="services__guarantee-text">В производстве используются эксклюзивные технологии, диоды, профиль собственного производства и высочайшего качества.</p>
        <ul class="services__guarantee-list">
          <li class="services__guarantee-list-item services__guarantee-list-item--leader">Лидеры на рынке</li>
          <li class="services__guarantee-list-item services__guarantee-list-item--prices">Лучшие цены</li>
          <li class="services__guarantee-list-item services__guarantee-list-item--complexity">Работа любой сложности</li>
        </ul>
      </div>
      <a class="button button--services" href="#">Оставить заявку</a>
    </div>
  </section>

  <section class="contacts">
    <div class="contacts__summary">
      <div class="contacts__summary-wrapper">
      <h2 class="contacts__title">Проектировка, поставка и&nbsp;монтаж систем освещения</h2>
      <div class="contacts__text-wrapper">
        <p class="contacts__text contacts__text--first">
          Мы производим все, что светится, а значит делаем Вашу жизнь ярче
        </p>
        <p class="contacts__text contacts__text--indent">
          Свет - это тот фактор, который является самым важным в контексте создания интерьеров и экстерьеров.
        </p>
      </div>
      <p class="contacts__text contacts__text--last">
        Узнать подробности про проекты и этапы разработки, а так же получить консультацию Вы можете заполнив форму обратной связи
      </p>
      </div>
    </div>

   <div class="contacts__form-wrapper">
      <form class="form" action="#">
        <legend class="form__legend">Связаться с нами</legend>
        <label class="form__field">Ваше имя
          <input class="form__input" type="text" name="name">
        </label>

        <label class="form__field">Телефон
          <input class="form__input" type="tel" name="telephone">
        </label>

        <label class="form__field">Город
          <input class="form__input" type="text" name="city">
        </label>

        <label class="form__field">Электронная почта
          <input class="form__input" type="email" name="email">
        </label>

        <label class="form__field-textarea">Комментарий
          <textarea class="form__textarea" name="comment"></textarea>
        </label>

        <p class="form__footnote">Информация полностью конфиденциальна и не передается третьим лицам</p>
        <button class="button button--form-submit" type="submit">Отправить</button>
      </form>
    </div>
  </section>
{% endblock content %}

{% block js %}
{% endblock %}
