.about {
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-top: 228px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/main-geometric-group-small@2x.png"), linear-gradient(transparent 180px, $color-bg 180px), url("../img/try.jpg");
  background-repeat: no-repeat;
  background-size: 108px auto, cover, contain;
  background-position: 51% 143px, 0 0, 0 0;
}

.about__wrapper {
  @include rubber-stopper;
}

.about__title {
  @include title;

  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  max-width: 230px;
}

.about__description { margin-bottom: 22px; }
