.about {
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-top: 228px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/main-geometric-group-small@2x.png"), linear-gradient(transparent 180px, $color-bg 180px), url("../img/try.jpg");
  background-repeat: no-repeat;
  background-size: 108px auto, cover, contain;
  background-position: 51% 143px, 0 0, 0 0;

  @media (min-width: 500px) {
    background-image: url("../img/main-logo.png"), url("../img/main-geometric-group-medium.png"), url("../img/trymainimage.png");
    background-size: 111px 112px, 194px 175px, 470px auto;
    background-position: 75vw 61px, 168px 85px, 0 0;
    padding-top: 318px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 44px;
  }
}

.about__wrapper {
  @include rubber-stopper;

  @media (min-width: 500px) {
    max-width: 540px;
    box-sizing: border-box;
    padding-left: 146px;
  }
}

.about__title {
  @include title;

  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  max-width: 230px;

  @media (min-width: 500px) {
    max-width: fit-content;
    margin-bottom: 16px;
  }
}

.about__description {
  margin-bottom: 22px;

  @media (min-width: 500px) {
    margin-bottom: 25px;
  }
}
