.advantages {
  @include container;

  margin-bottom: 10px;
  padding-top: 20px;
  background: url("../img/geometric-background-small.png") no-repeat 50% -2px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/geometric-background-small@2x.png");
    background-size: contain;
  }
}

.advantages__title {
  @include title;

  margin-bottom: 10px;
  text-align: center;
}

.advantages__list {
  @include lists-base;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10px;
  text-align: center;
}

.advantages__item {
  margin-bottom: 8px;
  padding-top: 40px;
  width: 32%;
  position: relative;
  line-height: 1;
  letter-spacing: .1px;
  background-repeat: no-repeat;

  &::before {
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 51px;
    height: 53px;
    transform: translateX(-50%);
    background: url("../img/polygon.svg") no-repeat 50%;
    content: "";
    z-index: -1;
  }

  &--arrow {
    background-image: url("../img/icon-arrow-big.png");
    background-size: 23px 15px;
    background-position: 50% 10px;
  }

  &--production {
    background-image: url("../img/icon-manufacturing-big.png");
    background-size: 19px 20px;
    background-position: 50% 7px;
  }

  &--solutions {
    background-image: url("../img/icon-solution-big.png");
    background-size: 22px 22px;
    background-position: 50% 6px;
  }

  &--projects {
    background-image: url("../img/icon-number-big.png");
    background-size: 29px 11px;
    background-position: 50% 10px;
  }

  &--engineering {
    background-image: url("../img/icon-gear-big.png");
    background-size: 21px 22px;
    background-position: 50% 10px;
  }
}

