.advantages {
  @include container;

  margin-bottom: 7px;
  padding-top: 20px;
  background: url("../img/geometric-background-small@2x.png") no-repeat 50% -2px;
  background-size: contain;

  @include media-min(sm) {
    padding-top: 61px;
    margin-bottom: 25px;
  }
  @include media-min(md) {
    margin-bottom: 18px;
    background: url("../img/geometric-background-medium.png") repeat 50% -2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/geometric-background-medium@2x.png");
      background-size: contain;
    }
  }
  @include media-min(lg) {
    margin-bottom: 70px;
    background-image: url("../img/geometric-background-big.png");
    background-size: auto;
    background-position-y: -21px;
  }
  @include media-min(xl) {
    background-image: url("../img/geometric-background-big@2x.png");
    background-size: contain;
  }
}

.advantages__wrapper {
  @include rubber-stopper;
}

.advantages__title {
  @include title;

  margin-bottom: 11px;
  text-align: center;

  @include media-min(sm) { margin-bottom: 35px; }
  @include media-min(lg) { margin-bottom: 50px; }
}

.advantages__list {
  @include lists-base;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10px;
  text-align: center;

  @include media-min(sm) { font-size: 12px; }
  @include media-min(md) {
    max-width: 653px;
    margin: 0 auto;
  }
  @include media-min(lg) {
    font-size: 20.5px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  @include media-min(xl) {
    font-size: 24px;
    letter-spacing: .12em;
    padding-left: 60px;
    max-width: 100%;
  }
}

.advantages__item {
  margin-bottom: 8px;
  padding-top: 40px;
  width: 30%;
  position: relative;
  line-height: 1;
  letter-spacing: .1px;
  background-repeat: no-repeat;

  @include media-min(sm) {
    width: 20%;
    padding-top: 55px;
    letter-spacing: normal;
    font-size: 11px;
  }
  @include media-min(md) {
    width: 19%;
    letter-spacing: .11em;
    font-size: 13px;
    padding-top: 83px;
  }
  @include media-min(lg) {
    width: 20%;
    font-size: inherit;
    line-height: inherit;
    padding-top: 241px;
  }

  &::before {
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 51px;
    height: 53px;
    transform: translateX(-50%);
    background: url("../img/polygon.svg") no-repeat 50%;
    content: "";
    z-index: -1;

    @include media-min(sm) {
      width: 90px;
      height: 90px;
      background-size: 85px 85px;
      top: -20px;
    }
    @include media-min(md) {
      background-size: 92px 94px;
      top: -12px;
      left: 57px;
    }
    @include media-min(lg) {
      background-size: 232px 236px;
      width: 232px;
      height: 192px;
      top: 21px;
      left: 157px;
    }
  }

  &--arrow {
    background-image: url("../img/icon-arrow-big.png");
    background-size: 23px 15px;
    background-position: 50% 10px;

    @include media-min(sm) {
      background-size: 38px 23px;
      background-position-y: 15px;
    }
    @include media-min(md) {
      background-position: 37px 22px;
    }
    @include media-min(lg) {
      background-size: 97px 60px;
      background-position: 105px 90px;
    }
  }

  &--production {
    background-image: url("../img/icon-manufacturing-big.png");
    background-size: 19px 20px;
    background-position: 50% 7px;

    @include media-min(sm) {
      background-size: 35px 35px;
      background-position-y: 6px;
    }
    @include media-min(md) {
      background-position: 41px 16px;
    }
    @include media-min(lg) {
      background-size: 89px 89px;
      background-position: 115px 73px;
    }
  }

  &--solutions {
    background-image: url("../img/icon-solution-big.png");
    background-size: 22px 22px;
    background-position: 50% 6px;

    @include media-min(sm) {
      background-size: 41px 40px;
      background-position-y: 4px;
    }
    @include media-min(md) {
      background-position: 37px 12px;
    }
    @include media-min(lg) {
      background-size: 101px 101px;
      background-position: 105px 62px;
    }
  }

  &--projects {
    background-image: url("../img/icon-number-big.png");
    background-size: 29px 11px;
    background-position: 50% 12px;

    @include media-min(sm) {
      background-size: 38px 13px;
      background-position-y: 16px;
    }
    @include media-min(md) { background-position: 40px 26px; }
    @include media-min(lg) {
      background-size: 97px 30px;
      background-position: 115px 103px;
    }
  }

  &--engineering {
    background-image: url("../img/icon-gear-big.png");
    background-size: 21px 22px;
    background-position: 50% 7px;

    @include media-min(sm) {
      background-size: 30px 32px;
      background-position-y: 9px;
    }
    @include media-min(md) { background-position: 42px 17px; }
    @include media-min(lg) {
      background-size: 77px 81px;
      background-position: 117px 77px;
    }
  }
}

