.button {
  padding: 2px 18px;
  font-family: Oswald, arial, sans-serif;
  border-radius: 40px;
  color: $color-base;
  background-color: $color-primary;
  font-size: 11px;
  letter-spacing: 1.2px;

  @include media-min(sm) {
    font-size: 14px;
    letter-spacing: .14em;
  }
  @include media-min(lg) { font-size: 24px; }

  &--gallery {
    @include media-min(md) {
      padding: 5px 36px 4px;
    }
    @include media-min(lg) {
      padding: 11px 73px 9px;
    }
  }

  &--form-submit {
    margin-left: auto;
    margin-right: auto;
    padding: 3px 22px;
    border: none;

    @include media-min(md) { padding: 6px 43px; }
    @include media-min(lg) {
      padding: 10px 96px 18px;
      margin-left: 14px;
    }
  }

  &--introduction {
    @include media-min(md) {
      padding-top: 6px;
      padding-bottom: 4px;
      padding-left: 31px;
      margin-left: 3px;
      padding-right: 29px;
    }
    @include media-min(lg) {
      padding-top: 9px;
      padding-bottom: 11px;
      padding-left: 59px;
      margin-left: 117px;
      padding-right: 55px;
    }
  }

  &--services {
    @include media-min(md) {
      margin-left: 540px;
      padding: 3px 20px 4px 22px;
    }
    @include media-min(lg) {
      margin-left: 1040px;
      padding: 3px 20px 4px 22px;
    }
    @include media-min(xl) {
      margin-left: 1190px;
      padding: 9px 55px 10px 63px;
    }
  }
}
