.button {
  padding: 2px 18px;
  font-family: Oswald, arial, sans-serif;
  border-radius: 40px;
  color: $color-base;
  background-color: $color-primary;
  font-size: 11px;
  letter-spacing: 1.2px;

  &--form-submit {
    margin-left: auto;
    margin-right: auto;
    padding: 3px 22px;
    border: none;
  }
}
