.contacts {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.contacts__title {
  @include title;

  text-align: center;
  width: 246px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__summary {
  margin-bottom: 17px;
  background-image: url(../img/geometric-background-small-additional.png);
  background-position: 0 0;
  padding-top: 24px;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/geometric-background-small-additional@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.contacts__text-wrapper {
  margin: 0 auto;
  max-width: 380px;
}


.contacts__text {
  &--indent {
    margin-bottom: 85px;
    position: relative;

    &::after {
      content: "";
      width: 80%;
      height: 4px;
      background-color: #63a1ff;
      position: absolute;
      display: block;
      border-radius: 4px;
      left: 30px;
      top: 85px;
    }
  }

  &--first {
    margin-bottom: 18px;
  }

  &--last {
    padding-left: 10px;
    margin: 0 auto;
    max-width: 370px;
  }
}

.contacts__form-wrapper {
  padding-right: 11px;
  padding-left: 11px;
  background-image: url("../img/mix-image-small.png");
  background-repeat: no-repeat;
  background-size: cover, contain;
  padding-top: 25px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mix-image-small@2x.png");
  }
}
