.contacts {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  margin-bottom: 12px;

  @media (min-width: 1440px) {
    background-image: url("../img/mix-image-big.png");
    background-repeat: no-repeat;
    background-position-x: 102%;
    background-size: 50%;
    padding-right: 20px;
    padding-left: 26px;
    padding-top: 40px;
    margin-bottom: 2px;
  }
}

.contacts__title {
  @include title;

  text-align: center;
  width: 246px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 500px) {
    max-width: 420px;
    width: auto;
  }
  @media (min-width: 768px) {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 333px;
    line-height: 29px;
    margin-bottom: 21px;
  }
  @media (min-width: 1440px) {
    font-size: 43px;
    line-height: 52px;
    max-width: 760px;
    margin-bottom: 39px;
  }
  @media (min-width: 1920px) {
    max-width: 685px;
  }
}

.contacts__summary {
  margin-bottom: 17px;
  background-image: url("../img/geometric-background-small-additional.png");
  background-position: 0 0;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/geometric-background-small-additional@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 768px) {
    background-image: url("../img/mix-image-medium@2x.png");
    background-repeat: no-repeat;
    background-position-x: 102%;
    background-size: 54%;
    padding-right: 20px;
    padding-left: 26px;
    padding-top: 40px;
    margin-bottom: 2px;
  }
  @media (min-width: 1440px) {
    padding-left: 30px;
    padding-top: 2px;
    background-image: none;
  }
}

.contacts__summary-wrapper {
  @media (min-width: 768px) {
    max-width: 820px;
    margin: 0 auto;
    font-size: 15px;
  }
  @media (min-width: 1440px) {
    max-width: 1550px;
    font-size: inherit;
  }
  @media (min-width: 1920px) {
    max-width: 1650px;
    padding-left: 22px;
    box-sizing: border-box;
  }
}

.contacts__text-wrapper {
  margin: 0 auto;
  max-width: 380px;

  @media (min-width: 500px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    margin: 0;
    max-width: 333px;
  }
  @media (min-width: 1440px) {
    max-width: 620px;
  }
}

.contacts__text {
  &--indent {
    margin-bottom: 85px;
    position: relative;

    &::after {
      content: "";
      width: 80%;
      height: 4px;
      background-color: #63a1ff;
      position: absolute;
      display: block;
      border-radius: 4px;
      left: 30px;
      top: 85px;

      @media (min-width: 768px) {
        width: 76%;
        left: 4px;
        top: 82px;
      }
      @media (min-width: 1440px) {
        width: 56%;
        top: 133px;
        height: 6px;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 73px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 101px;
    }
    @media (min-width: 1920px) {
      letter-spacing: .1em;
    }
  }

  @media (min-width: 768px) {
    padding-left: 5px;
    line-height: 17px;
  }
  @media (min-width: 1440px) {
    line-height: inherit;
    max-width: 620px;
  }

  &--first {
    margin-bottom: 18px;

    @media (min-width: 768px) {
      margin-bottom: 14px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 8px;
    }
  }

  &--last {
    padding-left: 10px;
    margin: 0 auto;
    max-width: 370px;

    @media (min-width: 500px) {
      max-width: 530px;
    }
    @media (min-width: 768px) {
      margin: 0;
      max-width: 328px;
      padding-bottom: 50px;
    }
    @media (min-width: 1920px) {
      max-width: 629px;
    }
  }
}

.contacts__form-wrapper {
  padding-right: 11px;
  padding-left: 11px;
  background-image: url("../img/mix-image-small.png");
  background-repeat: no-repeat;
  background-size: cover, contain;
  padding-top: 25px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mix-image-small@2x.png");
  }
  @media (min-width: 768px) {
    background-image: none;
  }
  @media (min-width: 1440px) {
    max-width: 1550px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    padding-top: 40px;
  }
  @media (min-width: 1920px) {
    max-width: 1585px;
    padding-left: 26px;
  }
}
