.footer {
  @include container;

  min-width: 320px;
  max-width: 360px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 6px;
  font-family: Oswald, arial, sans-serif;

  @media (min-width: $width-s) {
    min-width: 420px;
    max-width: 540px;
  }
  @media (min-width: $width-md) {
    min-width: 768px;
    max-width: 820px;
    padding-top: 7px;
    padding-bottom: 0;
  }
  @media (min-width: $width-lg) {
    min-width: 1440px;
    max-width: 1550px;
    font-size: 18px;
    line-height: 27px;
    padding-top: 10px;
    padding-bottom: 22px;
  }
  @media (min-width: $width-xl) {
    width: 1635px;
    max-width: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__logo {
  margin-right: 17px;
  padding-top: 7px;
  padding-left: 9px;

  @media (min-width: $width-md) {
    margin-right: 75px;
    margin-left: 14px;
    padding: 0;
  }
  @media (min-width: $width-xl) {
    margin-left: 0;
    margin-right: 84px;
    padding-top: 9px;
  }
}

.footer__logo-image {
  @media (min-width: $width-lg) {
    width: 115px;
    height: 115px;
  }
}

.footer-navigation {
  display: none;

  @media (min-width: $width-lg) {
    display: block;
  }
}

.footer__navigation-list {
  display: none;

  @include lists-base;

  @media (min-width: $width-lg) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 17px;
    letter-spacing: .09em;
    padding-top: 38px;
  }
}

.footer__navigation-item {
  width: 102px;
}

.footer__our-contacts-wrapper {
  width: 70%;

  @media (min-width: $width-s) {
    width: 100%;
    display: flex;
    letter-spacing: normal;
  }
  @media (min-width: $width-md) {
    justify-content: space-between;
  }
  @media (min-width: $width-lg) {
    padding-top: 32px;
  }
}

.footer__our-contacts {
  font-size: 7px;
  line-height: 10px;

  @media (min-width: $width-s) {
    font-size: 11px;
    line-height: 16px;
  }
  @media (min-width: $width-lg) {
    font-size: inherit;
    line-height: inherit;
  }

  &--offline {
    font-size: 8px;
    padding-left: 11px;

    @media (min-width: $width-md) {
      font-size: 13px;
      padding-top: 5px;
    }
    @media (min-width: $width-lg) {
      font-size: inherit;
      line-height: inherit;
      min-width: 307px;
    }
  }
}

.footer__our-contacts-online {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $width-s) {
    gap: 15px;
  }
  @media (min-width: $width-md) {
    gap: 44px;
    padding-top: 3px;
  }
  @media (min-width: $width-lg) {
    padding-left: 65px;
  }
  @media (min-width: $width-xl) {
    gap: 100px;
    padding-left: 92px;
  }
}

.footer__our-contact {
  margin-bottom: 3px;

  @media (min-width: $width-md) {
    margin-bottom: 0;
  }
}

.footer__our-contacts-phone {
  padding-left: 30px;

  @media (min-width: $width-md) {
    padding-left: 0;
  }
}
