.footer {
  @include container;

  min-width: 320px;
  max-width: 360px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 6px;

  @media (min-width: 500px) {
    min-width: 420px;
    max-width: 540px;
  }
}

.footer__logo {
  margin-right: 17px;
  padding-top: 7px;
  padding-left: 9px;
}

.footer-navigation {
  display: none;
}

.footer__our-contacts-wrapper {
  width: 70%;

  @media (min-width: 500px) {
    width: 100%;
    display: flex;
  }
}


.footer__our-contacts {
  font-size: 7px;
  font-family: Oswald, arial, sans-serif;
  line-height: 10px;

  &--offline {
    font-size: 8px;
    padding-left: 11px;
  }

  @media (min-width: 500px) {
    font-size: 9px;
  }
}

.footer__our-contacts-online {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 500px) {
    gap: 15px;
  }
}

.footer__our-contact {
  margin-bottom: 3px;
}

.footer__our-contacts-phone {
  padding-left: 30px;
}
