.footer {
  @include container;
  display: flex;
}

.footer__logo {
  margin-right: 20px;
}

.footer-navigation {
  display: none;
}

.footer__our-contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
}

.footer__our-contacts {
  font-size: 7px;

  &--offline {
    font-size: 8px;
    padding-left: 20px;
  }
}

.footer__our-contacts-phone {
  padding-left: 30px;
}
