.form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $color-middle-grey;
  padding-bottom: 20px;
}

.form__input {
  width: 130px;
  box-sizing: border-box;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field-textarea {
  width: 100%;
}

.form__footnote {
  font-size: 10px;
  color: $color-light-grey;
  padding-bottom: 13px;
}
