.form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $color-middle-grey;
  padding-bottom: 15px;
}

.form__legend {
  margin-bottom: 5px;
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;
  text-align: center;
  width: 90%;
  margin-left: 9px;
  margin-right: auto;
}

.form__input {
  width: 132px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #bbd6ff;
  border: 1px solid #0b77f7;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2px;
  height: 72px;
  border-radius: 5px;
  background: #bbd6ff;
  border: 1px solid #0b77f7;
}

.form__field {
  display: flex;
  flex-direction: column;

  @media (min-width: 500px) {
    font-size: 12px;
  }
}

.form__field-textarea {
  width: 100%;
  margin-top: 2px;
}

.form__footnote {
  font-size: 10px;
  color: $color-light-grey;
  margin-bottom: 13px;
}
