.form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $color-middle-grey;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    max-width: 465px;
    color: #6b6b6b;
  }
}

.form__legend {
  margin-bottom: 5px;
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;
  text-align: center;
  width: 90%;
  margin-left: 9px;
  margin-right: auto;

  @media (min-width: 768px) {
    font-size: 24px;
    margin: 0 0 14px;
    width: 100%;
    color: #fff;
  }
}

.form__input {
  width: 132px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #bbd6ff;
  border: 1px solid #0b77f7;

  @media (min-width: 768px) {
    width: 205px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2px;
  height: 72px;
  border-radius: 5px;
  background: #bbd6ff;
  border: 1px solid #0b77f7;

  @media (min-width: 768px) {
    height: 112px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;

  @media (min-width: 500px) {
    font-size: 12px;
  }
  @media (min-width: 768px) {
    font-size: 13px;
    gap: 2px;
    padding-bottom: 6px;
    padding-left: 1px;
    padding-right: 2px;
  }
}

.form__field-textarea {
  width: 100%;
  margin-top: 2px;
}

.form__footnote {
  font-size: 10px;
  color: $color-light-grey;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    margin-top: 4px;
    letter-spacing: .07em;
    margin-bottom: 25px;
  }
}
