.header {
  @include container;

  padding-top: 15px;
  background-color: rgba(0, 0, 0, .85);
  width: 100%;

  @include media-min(sm) {
    padding-top: 31px;
  }
  @include media-min(lg) {
    padding-top: 36px;
  }
}

.header__wrapper {
  display: flex;
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

  @include media-min(sm) {
    max-width: 530px;
  }
  @include media-min(md) {
    max-width: 820px;
  }
  @include media-min(lg) {
    max-width: 1550px;
  }
  @include media-min(xl) {
    max-width: 1620px;
  }
}

.header__phone-wrapper {
  padding-left: 45px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 28px 0;
  font-family: Oswald, arial, sans-serif;
  font-size: 11px;
  width: 139px;
  margin-top: 2px;

  @include media-min(sm) {
    width: 105px;
    padding-left: 27px;
    background-position: 12px 0;
  }
  @include media-min(md) {
    width: 118px;
    font-size: inherit;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-left: 31px;
    background-position: 11px 0;
    background-size: 25px 16px;
    padding-top: 2px;
    margin-top: 0;
  }
  @include media-min(lg) {
    width: 205px;
    background-size: 29px 35px;
    background-position: 2px 0;
  }
}

.header__site-name {
  padding-left: 7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  font-family: Montserrat, arial, sans-serif;
  color: $color-primary;
  letter-spacing: .08em;
  transform: rotate(.1deg);

  @include media-min(sm) {
    font-size: 18px;
  }
  @include media-min(md) {
    padding-left: 0;
  }
  @include media-min(lg) {
    font-size: 36px;
    padding-top: 5px;
  }
}
