.header {
  @include container;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.header__phone-wrapper {
  padding-left: 40px;
  background-image: url("../img/icon-phone-big.png");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 25px 0;
}

.header__site-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  font-family: Montserrat, arial, sans-serif;
  color: $color-primary;
  letter-spacing: 0.08em;
  transform: rotate(0.1deg);
}
