.main-nav {
  padding-bottom: 12px;
  position: relative;
  width: 42%;
  order: 2;
  display: flex;
  flex-direction: row-reverse;
}

.main-nav--cloced .main-nav__list {
  display: none;
}

.main-nav--cloced .main-nav__toggle {
  @media (max-width: 767px) {
    &::after {
      width: 19px;
      height: 3px;
      background-color: $color-primary;
      content: "";
      position: absolute;
      top: 16px;
      right: 3px;
      box-shadow: 0 5px 0 0 $color-primary, 0 10px 0 0 $color-primary;
      transform: rotate(180deg);
      border-radius: 3px;
    }

    &::before {
      display: none;
    }
  }
}

.main-nav--cloced .main-nav__social {
  display: none;
}

.main-nav__social {
  position: absolute;
  top: 97px;
  left: calc(50% - 69px);
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  position: absolute;
  background-color: $color-bg;
  padding: 30px;
  top: 35px;
  width: 110px;
  color: $color-base;
  padding-top: 1px;
  left: calc(50% - 79px);
  padding-left: 10px;
  font-family: Oswald, arial, sans-serif;

  @media (min-width: 768px) {
    display: flex;
    margin-left: 93px;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  top: 19px;
  left: 206px;
  z-index: 4;

  @media (min-width: $width-md) {
    display: none;
  }
  @media (max-width: $width-sm) {
    &::after {
      width: 20px;
      height: 1.5px;
      background-color: $color-primary;
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      box-shadow: none;
      transform: rotate(45deg);
    }
  }

  &::before {
    @media (max-width: 767px) {
      width: 20px;
      height: 1.5px;
      background-color: $color-primary;
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      transform: rotate(-45deg);
    }
  }
}
