.main-nav {
  padding-bottom: 3px;
  position: relative;
  order: 2;

  @media (min-width: 500px) {
    order: 0;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
}

.main-nav__social {
  position: absolute;
  top: 90px;
  left: calc(50% - 100px);

  @media (min-width: 500px) {
    top: 470px;
    left: calc(50% + 238px);
  }
  @media (min-width: 768px) {
    top: 442px;
    left: calc(50% + 360px);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.main-nav__social-item {
  &--fb {
    @media (min-width: 768px) {
      width: 32px;
      height: 17px;
    }
  }

  &--ig {
    @media (min-width: 768px) {
      width: 32px;
      height: 17px;
    }
  }

  &--pinterest {
    @media (min-width: 768px) {
      width: 20px;
      height: 19px;
      padding-left: 6px;
    }
  }

  &--twitter {
    @media (min-width: 768px) {
      width: 20px;
      height: 19px;
      padding-left: 6px;
    }
  }

  &--youtube {
    @media (min-width: 768px) {
      width: 20px;
      height: 15px;
      padding-left: 6px;
    }
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  background-color: $color-bg;
  font-family: Oswald, arial, sans-serif;

  @media (max-width: 499px) {
    position: absolute;
    padding: 30px;
    top: 27px;
    width: 110px;
    color: $color-base;
    padding-top: 1px;
    left: calc(50% - 111px);
    padding-left: 10px;
  }
  @media (min-width: 500px) {
    display: flex;
    padding-left: 20px;
    letter-spacing: normal;
    background-color: rgba(0, 0, 0, .85);
  }
  @media (min-width: 768px) {
    letter-spacing: .06em;
    padding-left: 0;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 4;
  margin-left: 5px;
  margin-right: 15px;

  @media (min-width: 500px) {
    display: none;
  }
  @media (max-width: 499px) {
    &::after {
      width: 20px;
      height: 1.5px;
      background-color: $color-primary;
      content: "";
      position: absolute;
      top: 9px;
      right: 16px;
      box-shadow: none;
      transform: rotate(45deg);
    }
  }

  &::before {
    @media (max-width: 499px) {
      width: 20px;
      height: 1.5px;
      background-color: $color-primary;
      content: "";
      position: absolute;
      top: 9px;
      right: 16px;
      transform: rotate(-45deg);
    }
  }
}

.main-nav--cloced .main-nav__list {
  @media (max-width: 499px) {
    display: none;
  }
}

.main-nav--cloced .main-nav__toggle {
  @media (max-width: 767px) {
    &::after {
      width: 18px;
      height: 3px;
      background-color: $color-primary;
      content: "";
      position: absolute;
      top: 11px;
      right: 19px;
      box-shadow: 0 5px 0 0 $color-primary, 0 10px 0 0 $color-primary;
      transform: rotate(180deg);
      border-radius: 3px;
    }

    &::before {
      display: none;
    }
  }
}

.main-nav--cloced .main-nav__social {
  display: none;
}

.main-nav__item {
  @media (min-width: 500px) {
    padding-right: 10px;
  }
  @media (min-width: 768px) {
    padding-right: 48px;
  }
}
