.results {
  @include container;

  background-image: linear-gradient(transparent 88px, $color-bg 88px), url("../img/tryforhoneycomb.png");
  background-repeat: no-repeat;
  font-size: 10px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 17px;
  background-size: auto auto, 150%, cover;

  @media (min-width: 500px) {
    padding-top: 30px;
    font-size: 14px;
  }
  @media (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(transparent 130px, $color-bg 130px), url("../img/tryforhoneycomb@2x.png");
    background-size: auto auto, 100%, cover;
  }
}

.results__wrapper {
  @include rubber-stopper;
}

.results__title {
  @include title;

  margin-bottom: 7px;

  @media (min-width: 500px) {
    margin-bottom: 10px;
  }
}

.results__text {
  margin-bottom: 28px;

  @media (min-width: 500px) {
    margin-bottom: 67px;
  }
  @media (min-width: 768px) {
    max-width: 520px;
    margin: 0 auto;
  }
}

.results__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
  gap: 10px;

  @media (min-width: 500px) {
    padding-bottom: 23px;
  }
  @media (min-width: 768px) {
    gap: 23px;
    padding-bottom: 31px;
  }
}

.results__gallery-image {
  width: 93px;
  height: 89px;

  @media (min-width: 500px) {
    width: 145px;
    height: auto;
  }
  @media (min-width: 768px) {
    width: auto;
  }
}


.results__description {
  @media (min-width: 768px) {
    padding-bottom: 66px;
  }
}

