.results {
  @include container;

  background-image: linear-gradient(transparent 88px, $color-bg 88px), url("../img/tryforhoneycomb.png");
  background-repeat: no-repeat;
  font-size: 10px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 17px;
  background-size: auto auto, 150%, cover;

  @include media-min(sm) {
    padding-top: 30px;
    font-size: 14px;
  }
  @include media-min(md) {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(transparent 130px, $color-bg 130px), url("../img/tryforhoneycomb@2x.png");
    background-size: auto auto, 100%, cover;
  }
  @include media-min(lg) {
    padding-top: 99px;
    font-size: 24px;
    padding-bottom: 59px;
    background-image: linear-gradient(transparent 322px, $color-bg 322px), url("../img/tryforhoneycomb-big.png");
  }
  @include media-min(xl) {
    background-image: linear-gradient(transparent 322px, $color-bg 322px), url("../img/tryforhoneycomb-big@2x.png");
  }
}

.results__wrapper {
  @include rubber-stopper;
}

.results__title {
  @include title;

  margin-bottom: 7px;

  @include media-min(sm) {
    margin-bottom: 10px;
  }
  @include media-min(lg) {
    margin-bottom: 20px;
  }
}

.results__text {
  margin-bottom: 28px;

  @include media-min(sm) {
    margin-bottom: 67px;
  }
  @include media-min(md) {
    max-width: 520px;
    margin: 0 auto;
  }
  @include media-min(lg) {
    max-width: 810px;
  }
}

.results__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
  gap: 10px;

  @include media-min(sm) {
    padding-bottom: 23px;
  }
  @include media-min(md) {
    gap: 29px;
    padding-bottom: 31px;
  }
  @include media-min(lg) {
    padding-bottom: 68px;
  }
  @include media-min(xl) {
    gap: 55px;
    padding-left: 56px;
    padding-right: 56px;
  }
}

.results__gallery-image {
  width: 93px;
  height: 89px;

  @include media-min(sm) {
    width: 145px;
    height: auto;
  }
  @include media-min(md) {
    width: 29vw;
    max-width: 254px;
  }
  @include media-min(lg) {
    width: 25vw;
    max-width: initial;
  }
  @include media-min(xl) {
    width: 467px;
  }
}

.results__description {
  @include media-min(md) {
    padding-bottom: 66px;
  }
  @include media-min(lg) {
    padding-bottom: 153px;
  }
}

