.services {
  background-image: url("../img/trypuzzle@2x.jpg");
  background-repeat: no-repeat;
  background-position: 0 595px;
  margin-bottom: 19px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  box-sizing: border-box;
  background-size: 100% 449px;

  @media (min-width: $width-s) {
    background-image: none;
  }
  @media (min-width: $width-md) {
    margin-bottom: 36px;
  }
  @media (min-width: $width-lg) {
    margin-bottom: 61px;
  }
}

.services__wrapper {
  text-align: center;
  margin-bottom: 15px;
  background-image: url("../img/trybackground.png");
  padding-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: cover, contain;
  padding-top: 12px;

  @media (min-width: $width-s) {
    padding-top: 45px;
  }
  @media (min-width: $width-md) {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 61px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/trybackground@2x.png");
    }
  }
  @media (min-width: $width-lg) {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 208px;
    margin-bottom: 56px;
    background-image: url("../img/trybackground-big.png");
  }
  @media (min-width: $width-xl) {
    background-image: url("../img/trybackground-big@2x.png");
  }
}

.services__wrapper-rubber {
  @include rubber-stopper;
}

.services__title {
  @include title;

  margin-bottom: 10px;

  @media (min-width: $width-md) {
    margin-bottom: 23px;
    max-width: 97%;
  }
  @media (min-width: $width-lg) {
    margin-bottom: 14px;
  }
}

.services__description {
  font-size: 11px;
  letter-spacing: .11em;
  margin-bottom: 6px;

  @media (min-width: $width-s) {
    font-size: 14px;
    width: 423px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
  @media (min-width: $width-md) {
    margin-bottom: 38px;
    line-height: 17px;
  }
  @media (min-width: $width-lg) {
    font-size: inherit;
    line-height: inherit;
    max-width: 1060px;
    width: auto;
    margin-bottom: 50px;
  }
}

.services__list {
  @include lists-base;

  display: grid;
  justify-content: space-between;
  padding-bottom: 19px;
  margin: 0;
  grid-template-columns: repeat(3, 93px);
  padding-left: 5px;
  font-size: 10px;
  padding-right: 5px;

  @media (min-width: $width-s) {
    font-size: 12px;
    letter-spacing: normal;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 45px;
  }
  @media (min-width: $width-md) {
    font-size: 13px;
    letter-spacing: .06em;
    max-width: 570px;
    margin: 0 auto;
  }
  @media (min-width: $width-lg) {
    max-width: 90%;
    font-size: inherit;
    padding-bottom: 200px;
  }
  @media (min-width: $width-xl) {
    max-width: 84%;
    font-size: 25px;
    letter-spacing: .12em;
  }
}

.services__item {
  padding-top: 33px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: 25px -5px;

  @media (min-width: $width-s) {
    min-width: 65px;
    background-size: 83px 83px;
    background-position: -9px -5px;
    padding-top: 70px;
  }
  @media (min-width: $width-md) {
    min-width: 78px;
    background-position: -3px -13px;
    background-size: 87px 87px;
  }
  @media (min-width: $width-lg) {
    padding-top: 160px;
    min-width: 190px;
    background-size: 194px 194px;
    background-position: 21px 0;
  }
  @media (min-width: $width-xl) {
    min-width: 210px;
    background-position: 10px -30px;
  }

  &--decision {
    background-image: url("../img/icon-lamp-big.png");
  }

  &--design {
    background-image: url("../img/icon-design-big.png");

    @media (min-width: $width-s) {
      background-position-x: 4px;
    }
    @media (min-width: $width-md) {
      background-position-x: 10px;
    }
    @media (min-width: $width-lg) {
      background-position-x: 25px;
    }
  }

  &--production {
    background-image: url("../img/icon-production-big.png");

    @media (min-width: $width-s) {
      background-position-x: 0;
    }
    @media (min-width: $width-lg) {
      background-position-x: 17px;
    }
  }

  &--supply {
    background-image: url("../img/icon-lorry-big.png");
  }

  &--installation {
    background-image: url("../img/icon-assembling-big.png");
  }

  &--commissioning {
    background-image: url("../img/icon-commissioning-big.png");

    @media (min-width: $width-s) {
      background-position-x: 0;
    }
    @media (min-width: $width-lg) {
      background-position-x: 15px;
    }
    @media (min-width: $width-xl) {
      background-position-x: 5px;
    }
  }
}

.services__guarantee {
  text-align: center;

  @media (min-width: $width-s) {
    padding-top: 29px;
  }
  @media (min-width: $width-md) {
    background-image: url("../img/geometric-group-medium.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 216px) 43px;
    padding-top: 40px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/geometric-group-medium@2x.png");
      background-size: 292px 265px;
    }
  }
  @media (min-width: $width-lg) {
    padding-top: 51px;
    background-position: calc(50% - 435px) 0;
    background-size: 500px auto;
    background-image: url("../img/geometric-group-big.png");
    padding-bottom: 12px;
  }
  @media (min-width: $width-xl) {
    background-position: calc(50% - 513px) 0;
    background-size: auto;
  }
}

.services__guarantee-wrapper {
  min-width: 300px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  text-align: left;
  background-image: url("../img/geometric-group-small@2x.png");
  background-position: 12px 66px;
  background-repeat: no-repeat;
  background-size: 277px 262px;
  letter-spacing: .08em;

  @media (min-width: $width-s) {
    min-width: 420px;
    max-width: 520px;
    font-size: 14px;
    background-position: 12px 11px;
    background-position-x: 1%;
    background-size: 210px 195px;
  }
  @media (min-width: $width-md) {
    min-width: 728px;
    max-width: 820px;
    background-image: none;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  @media (min-width: $width-lg) {
    min-width: 1440px;
    max-width: 1550px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: $width-xl) {
    max-width: 1650px;
  }
}

.services__guarantee-title {
  letter-spacing: .07em;
  margin-bottom: 16px;
  font-size: 14px;

  @media (min-width: $width-s) {
    max-width: 390px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $width-md) {
    font-size: 19px;
    margin-left: 43%;
    margin-bottom: 12px;
    letter-spacing: .035em;
  }
  @media (min-width: $width-lg) {
    font-size: 41px;
    max-width: initial;
    margin-bottom: 24px;
    margin-left: 40%;
  }
  @media (min-width: $width-xl) {
    font-size: 43px;
    margin-left: 45%;
    margin-bottom: 28px;
  }
}

.services__guarantee-text {
  margin-left: 10px;
  letter-spacing: .11em;

  @media (min-width: $width-s) {
    margin-left: 44%;
  }
  @media (min-width: $width-md) {
    font-size: 15px;
    margin-left: 43%;
    line-height: 17px;
    margin-bottom: 17px;
    max-width: 52%;
    letter-spacing: .07em;
  }
  @media (min-width: $width-lg) {
    font-size: 19px;
    line-height: 21px;
    margin-left: 40%;
    margin-bottom: 28px;
  }
  @media (min-width: $width-xl) {
    margin-left: 45%;
    max-width: 40%;
  }

  &--first {
    padding-bottom: 250px;
    margin-bottom: 0;
    min-height: 39px;

    @media (min-width: $width-s) {
      padding-bottom: 16px;
    }
    @media (min-width: $width-md) {
      padding-bottom: 13px;
    }
  }
}

.services__guarantee-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-top: 95px;
  margin-bottom: 86px;

  @media (min-width: $width-s) {
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  @media (min-width: $width-md) {
    margin-left: 41.2%;
    margin-top: 0;
    margin-bottom: 5px;
  }
  @media (min-width: $width-lg) {
    margin-left: 40%;
  }
  @media (min-width: $width-xl) {
    margin-left: 44%;
    margin-bottom: 12px;
  }
}

.services__guarantee-list-item {
  @include title;

  &--leader {
    @media (min-width: $width-s) {
      background-image: url("../img/advantages-image-1-medium@2x.jpg");
    }
    @media (min-width: $width-lg) {
      background-image: url("../img/advantages-image-1.jpg");
    }
  }

  &--prices {
    @media (min-width: $width-s) {
      background-image: url("../img/advantages-image-2-medium@2x.jpg");
    }
    @media (min-width: $width-lg) {
      background-image: url("../img/advantages-image-2.jpg");
    }
  }

  &--complexity {
    @media (min-width: $width-s) {
      background-image: url("../img/advantages-image-3-medium@2x.jpg");
    }
    @media (min-width: $width-lg) {
      background-image: url("../img/advantages-image-3.jpg");
    }
  }

  @media (min-width: $width-s) {
    font-size: 12px;
    min-width: 32%;
    background-repeat: no-repeat;
    padding-top: 70px;
    background-size: 94px 43px;
    background-position: 50% 30%;
  }
  @media (min-width: $width-md) {
    padding-top: 49px;
    background-position-y: 0;
    min-width: 129px;
    font-size: 12px;
  }
  @media (min-width: $width-lg) {
    min-width: 245px;
    padding-top: 90px;
    font-size: 24px;
    background-size: auto;
  }
  @media (min-width: $width-xl) {
    min-width: 256px;
    padding-top: 113px;
    padding-left: 12px;
  }
}

.services__guarantee-list-item:not(:last-child) {
  padding-bottom: 133px;

  @media (min-width: $width-s) {
    padding-bottom: 20px;
  }
  @media (min-width: $width-lg) {
    padding-bottom: 75px;
  }
}


