.services {
  background-image: url("../img/trypuzzle.jpg");
  background-repeat: no-repeat;
  background-position: 0 600px;
  margin-top: 10px;
  margin-bottom: 19px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  box-sizing: border-box;
  background-size: 100% 449px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/trypuzzle@2x.jpg");
  }
}

.services__wrapper {
  text-align: center;
  margin-bottom: 18px;
  background-image: url(../img/trybackground.png);
  padding-right: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.services__wrapper-rubber {
  @include rubber-stopper;
}

.services__description {
  font-size: 11px;
}

.services__list {
  @include lists-base;

  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 19px;
  margin: 0;
  grid-template-columns: repeat(3, 93px);
  padding-left: 5px;
  font-size: 10px;
  padding-right: 5px;
}

.services__item {
  padding-top: 33px;
  position: relative;
  background-repeat: no-repeat;

  &--decision {
    background-image: url("../img/icon-lamp-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px;
  }

  &--design {
    background-image: url("../img/icon-design-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px;
  }

  &--production {
    background-image: url("../img/icon-production-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px;
  }

  &--supply {
    background-image: url("../img/icon-lorry-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px;
  }

  &--installation {
    background-image: url("../img/icon-assembling-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px;
  }

  &--commissioning {
    background-image: url("../img/icon-commissioning-big.png");
    background-size: 45px 45px;
    background-position: 25px -5px;
  }
}

.services__guarantee {
  background-image: url("../img/geometric-group-small.png");
  background-position: 50% 48px;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/geometric-group-small@2x.png");
    background-size: 277px 262px;
  }
}

.services__guarantee-wrapper {
  min-width: 300px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  text-align: left;
}

.services__guarantee-title {
  min-width: 300px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.services__guarantee-text {
  padding-bottom: 256px;
}

.services__guarantee-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 82px;
}

.services__guarantee-list-item:not(:last-child) {
  padding-bottom: 133px;
}

.services__guarantee-list-item {
  @include title;
}
