<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }}</title>
    <link rel="stylesheet" href="css/style.css">
    {% if debug and page %}
    <style>
      HTML {
        background-repeat: no-repeat;
        background-position:  50% 0;
        background-image: url("pp/{{ page }}-Mobile.jpg");
      }
      @media (min-width: 768px) {
        HTML {
          background-image: url("pp/{{ page }}-Tablet.jpg");
        }
      }
      @media (min-width: 1440px) {
        HTML {
          background-image: url("pp/{{ page }}-Desktop.jpg");
        }
      }
      * { outline: 1px solid rgba(255,100,0,.2);}
    </style>
    <link href="pp/styles.css" rel="stylesheet">
    <script src="pp/script.js"></script>
    {% endif %}
  </head>
  <body>
    <header class="header">
      <div class="header__wrapper">
        <a class="header__site-name" href="#">LEDWIT</a>
        <nav class="main-nav">
          <button class="main-nav__toggle" type="button"></button>
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a class="main-nav__link main-nav__link--active">О нас</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Возможности</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Проекты</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Контакты</a>
            </li>
          </ul>

          <div class="main-nav__social">
            <a class="social__link" href="#" target="_blank">
              <img class="main-nav__social-item main-nav__social-item--fb" src="./images/fb.svg" width="15" height="15" alt="Мы в Фейсбук">
            </a>
            <a class="social__link" href="#" target="_blank">
              <img class="main-nav__social-item main-nav__social-item--ig" src="./images/instagram.svg" width="13" height="13" alt="Мы в Инстаграм">
            </a>
            <a class="social__link" href="#" target="_blank">
              <img class="main-nav__social-item main-nav__social-item--pinterest" src="./images/icon-pinterest-big.png" width="12" height="13" alt="Мы в Пинтерест">
            </a>
            <a class="social__link" href="#" target="_blank">
              <img class="main-nav__social-item main-nav__social-item--twitter" src="./images/twitter.svg" width="13" height="13" alt="Мы в Твиттер">
            </a>
            <a class="social__link" href="#" target="_blank">
              <img class="main-nav__social-item main-nav__social-item--youtube" src="./images/youtube.svg" width="13" height="13" alt="Мы в Ютуб">
            </a>
          </div>
        </nav>

        <div>
          <a href="tel:+-----------">
          <p class="header__phone-wrapper">+7(812)347-45-92</p></a>
        </div>
      </div>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <div class="footer__logo">
        <a href="#">
          <img src="../images/main-logo-footer@2x.png" width="46" height="47" alt="Логотип компании LEDWIT">
        </a>
      </div>

      <div class="footer-navigation">
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a class="footer-navigation footer-navigation--active">О нас</a>
          </li>
          <li class="footer-navigation__item">
            <a class="footer-navigation__link" href="#">Возможности</a>
          </li>
          <li class="footer-navigation__item">
            <a class="footer-navigation__link" href="#">Проекты</a>
          </li>
          <li class="footer-navigation__item">
            <a class="footer-navigation__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>

     <div class="footer__our-contacts-wrapper">
       <div class="footer__our-contacts-online">
          <div class="footer__our-contacts">
              <p class="footer__our-contact">Отдел продаж</p>
              <p class="footer__our-contact">salelw@ya.ru</p>
          </div>

          <div class="footer__our-contacts">
            <p class="footer__our-contact">Тех.поддержка</p>
            <p class="footer__our-contact">servicelw@ya.ru</p>
          </div>

          <div class="footer__our-contacts">
            <p class="footer__our-contact">Руководитель</p>
            <p class="footer__our-contact">dirlw@ya.ru</p>
          </div>
        </div>
        <div class="footer__our-contacts footer__our-contacts--offline">
          <p class="footer__our-contact">г. Санкт-Петербург, ул. Виноградная 21</p>
          <p class="footer__our-contacts-phone">тел. +7(812)347-45-92</p>
        </div>
      </div>
    </footer>
    <script src="../js/script.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
