:root {
  --color-base: #{$color-base};
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
  --color-hover: #{darken($color-primary, 15%)};
  --color-active: #{lighten($color-primary, 15%)};
}

body {
  font: $font-size $font-family;
  line-height: $line-height;
  color: $color-base;
  background-color: $color-bg;
  letter-spacing: $letter-spacing;
  min-width: $width-xs;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media #{$media-sm} { min-width: $width-sm; }
  @media #{$media-md} { min-width: $width-md; }
  @media #{$media-lg} { min-width: $width-lg; }
  @media #{$media-xl} { min-width: $width-xl; }
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $color-base;

  &[href]:hover,
  &[href]:focus {
    color: $color-hover;
    text-decoration: none;
  }

  &[href]:active { color: $color-active; }
}
