:root {
  --color-base: #{$color-base};
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
  --color-hover: #{darken($color-primary, 15%)};
  --color-active: #{lighten($color-primary, 15%)};
}

body {
  font: $font-size $font-family;
  line-height: $line-height;
  color: $color-base;
  background-color: $color-bg;
  letter-spacing: $letter-spacing;
  min-width: $width-xs;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: 500px) {
    font-size: $font-size-tablet;
    background-image: url("../img/trymainimage.png");
    background-size: 530px auto;
    background-repeat: no-repeat;
    background-position-x: 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/trymainimage@2x.png");
    }
  }
  @media (min-width: 768px) {
    background-size: auto auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/trymainimage@2x.png");
      background-size: 768px 693px;
    }
  }
  @media (min-width: 1440px) {
    font-size: 24px;
    background-image: url("../img/main-image-big.png");
    background-size: 92%, contain;
    background-position-x: 0;
  }
  @media (min-width: 1920px) {
    background-image: url("../img/main-image-big@2x.png");
    background-size: 73% 1017px;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $color-base;

  &[href]:hover,
  &[href]:focus {
    color: $color-hover;
    text-decoration: none;
  }

  &[href]:active { color: $color-active; }
}
