@function min-width($width-name) {
  $width: map-get($widths, $width-name);

  @return "(min-width: #{$width})";
}
@function max-width($width-name) {
  $width: map-get($widths, $width-name);

  @return "(max-width: #{$width - 1})";
}

@mixin media-min($min-breakpoint-name) {
  @media #{min-width($min-breakpoint-name)} {
    @content;
  }
}
@mixin media-max($max-breakpoint-name) {
  @media #{max-width($max-breakpoint-name)} {
    @content;
  }
}
@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap-sm;
  padding-left: $gap-sm;
  box-sizing: border-box;

  @include media-min(md) {
    min-width: map-get($widths, md);
    padding-left: $gap-md;
    padding-right: $gap-md;
  }
  @include media-min(lg) {
    min-width: map-get($widths, lg);
    padding-left: $gap-lg;
    padding-right: $gap-lg;
  }
  @include media-min(xl) {
    min-width: map-get($widths, xl);
  }
}
@mixin title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;

  @include media-min(sm) { font-size: 24px; }
  @include media-min(lg) { font-size: 64px; }
}
@mixin lists-base {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
@mixin rubber-stopper {
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;

  @include media-min(sm) {
    min-width: 420px;
    max-width: 540px;
  }
  @include media-min(md) {
    min-width: 728px;
    max-width: 820px;
  }
  @include media-min(lg) {
    max-width: 1550px;
  }
  @include media-min(xl) {
    max-width: 1650px;
  }
}
