@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gapSm;
  padding-left: $gapSm;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-right: $gapM;
    padding-left: $gapM;
  }
  @media (min-width: 1440px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@mixin title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;

  @media (min-width: 500px) {
    font-size: 24px;
  }
  @media (min-width: 1440px) {
    font-size: 64px;
  }
}
@mixin lists-base {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
@mixin rubber-stopper {
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 500px) {
    min-width: 420px;
    max-width: 540px;
  }
  @media (min-width: 768px) {
    min-width: 728px;
    max-width: 820px;
  }
  @media (min-width: 768px) {
    max-width: 1550px;
  }
  @media (min-width: 1920px) {
    max-width: 1650px;
  }
}
