@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gapSm;
  padding-left: $gapSm;
  width: 100%;
  box-sizing: border-box;

  @media #{$media-lg} { max-width: $width-xl; }
}
@mixin title {
  font-family: Montserrat, arial, sans-serif;
  font-size: 14px;
  letter-spacing: .1px;
}
@mixin lists-base {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
