//Шрифты
$font-family: -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, "Open Sans", arial, sans-serif;
$font-size: 12px;
$font-size-tablet: 14px;
$line-height: 1.2;
$letter-spacing: .11em;

//Цвета
$color-base: #fff;
$color-bg: #000;
$color-primary: #3382fa;
$color-light-grey: #b0b0b0;
$color-middle-grey: #dbdbdb;
$color-hover: darken($color-primary, 15%);
$color-active: lighten($color-primary, 15%);

//Размеры
$widths: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 1440px,
  xl: 1920px,
);

//Отступы
$gap: 140px;
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 40px;
