//Шрифты
$font-family: -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, "Open Sans", arial, sans-serif;
$font-size: 12px;
$line-height: 1.2;
$letter-spacing: 0.08em;

//Цвета
$color-base: #fff;
$color-bg: #000;
$color-primary: #3382fa;
$color-light-grey: #b0b0b0;
$color-middle-grey: #dbdbdb;
$color-hover: darken($color-primary, 15%);
$color-active: lighten($color-primary, 15%);

//Размеры
$width-xs: 320px;
$width-sm: 767px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1440px;

//Медиа
$media-sm: screen and (min-width: $width-sm);
$media-md: screen and (min-width: $width-md);
$media-lg: screen and (min-width: $width-lg);
$media-xl: screen and (min-width: $width-xl);

//Отступы
$gap: 140px;
$gapSm: 10px;
